dist/
out/
node_modules/
.DS_Store
build
.env
yarn-error.log
roku_modules/
.vscode/.env
tmp
.tmp

logs
*.log


#Rooibos generated
rooibosFunctionMap.brs
rooibosDist.brs

# nyc test coverage
.nyc_output
coverage/

# Output of 'npm pack'
*.tgz
