name: build
on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    env:
      #hardcode the coveralls token...it's not overly important to protect, and github actions won't allow forks to work with coveralls otherwise
      COVERALLS_REPO_TOKEN: "ppWEadjj41ovqxQn4LelJ0TAtCKuMNDaH"
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: "16.20.2"
          architecture: 'x64' # fix for macos-latest
      - run: cd npm ci
      - run: cd npm run preversion
      - run: cd npm run publish-coverage
      - run: cd tests && npm install && npm run build
